/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 33px;
  display: block;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 7px 5px;
  font-size: 13px;
}

h2 {
  margin: 20px 0 20px;
}

.field, .actions {
  margin-bottom: 10px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;

}

#error_explanation > h3 {
  font-size: 12px;
  background-color: red;
  color: #fff;
  padding: 5px 5px 5px 15px;
  text-align: left;
  margin: -7px;
}

h2 > #error_explanation {
  font-size: 12px;
  margin-bottom: 0;
}

ul {
  margin: 33px;
}

.image1 {
  background-image: url(image1.jpg);
}

.image2 {
  background-image: url(image2.jpg);
}

.image3 {
  background-image: url(image3.jpg);
}

.image4 {
  background-image: url(image4.jpg);
}

.image5 {
  background-image: url(image5.jpg);
}

#container {
  height: 500px;
}
